<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Database connection string-->
    <add key="DBConStr" value="Data Source=RAM-SKH\SQLEXPRESS;database=IAS_Schneider;User id=sa; Password=ide123$%^;"/>
    <add key="Lines" value=""/>
    <add key="Lines_List_1" value="1,2,3,4,5,6"/>
    <add key="Lines_List_2" value="10,11,12,13"/>
    <add key="Lines_List_3" value="7,20,21,8"/>
    
    <!--Controls the Monitor tab item-->
    <add key ="Monitor_Enabled" value="Yes"/>
    <add key ="Quantity_Enabled" value="Yes"/>

    <add key ="ISSUE_MARQUEE_SPEED" value="75"/>
    <add key ="MESSAGE_MARQUEE_SPEED" value="45"/>
    
    
    
    <!-- Customer Logo-->

    <add key="Customer_Logo" value="schneider.bmp"/>
    <!-- TimerTick is in MINUTES-->
    <add key="TIMERTICK" value=".1"/>

    <!--Shift A Timings-->
    <add key="Shift_A_StartTime" value ="06:00:00"/>
    <add key="Shift_A_EndTime" value ="14:00:00"/>


    <!--Shift B Timings-->
    <add key="Shift_B_StartTime" value ="14:00:00"/>
    <add key="Shift_B_EndTime" value ="22:00:00"/>


    <!--Shift C Timings-->
    <add key="Shift_C_StartTime" value ="22:00:00"/>
    <add key="Shift_C_EndTime" value ="06:00:00"/>
    
    

  </appSettings>

</configuration>