<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBConStr" value="Data Source=WXIN00400196D\ANDONSEVER;database=IAS_Schneider;User id=sa; Password=ide123$%^;"/>
    <add key="WaitForStartup" value="No" />
    <add key="StartupKey" value="notifier_status" />
    <add key="StartupValue" value="Down" />
    <add key="StartupWaitPeriod" value="0.1" />
    <!--duration to wait between startup check in minutes-->
    <!--GSM Communication Port Settings -->
    <add key="GSM_PORT" value="COM1" />
    <add key="BaudRate" value="115200" />
    <add key="Timeout" value="2000" />
    
    <!--GSM Trace File-->
    <add key="GSM_SMSTraceFile" value="gsmTrace.txt" />
    
    
    <!-- TimerTick is in minutes-->
    <add key="TimerTick" value="1" />
    <!--Serial Port Settings-->
    <add key="SleepOnWrite" value="1" />
    <!--GSM modem Setting-->
    <add key="ResponseTimeout" value="7000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>